<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SART Chatbot Demo</title> 
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <!-- Vendor CSS Files -->
  <link href="./static/vendor/aos/aos.css" rel="stylesheet">
  <link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/css/style.css" rel="stylesheet">

</head>

<body>

  <div id="chatbox">
    <input type="checkbox" id="click" onclick="greetUser()">
    <label id="popup" for="click">
    <i class="fab bi-chat-dots-fill"></i>
    <i class="fas bi-x-lg"></i>
    </label>
    <div class="msger">
        <header class="msger-header">
        <div class="msger-header-title">
            <i class="bi bi-chat-dots-fill"></i> SART
        </div>
        <div class="msger-header-options">
            <div class="btn-group">
            <button class="btn btn-sm dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear"></i></button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li class="dropdown-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" onchange="changeLanguage('en-US')" name="languages" id="language1" checked>
                    <label class="form-check-label" for="language1">English US</label>
                </div>
                </li>
                <li class="dropdown-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" onchange="changeLanguage('fr-FR')" name="languages" id="language2">
                    <label class="form-check-label" for="language2">French FR</label>
                </div>
                </li>
            </ul>
            </div>
        </div>
        </header>
        <main class="msger-chat">
        </main>
        <footer class="msger-inputarea">
          <form id="myinput" name="myinput" class="msger-form">
            <input id="input" type="text" class="msger-input" placeholder="Enter your message...">
            <button id="send" type="submit" class="msger-send-btn"><i class="bi bi-send-fill"></i></button>   
          </form>
          <button id="mic" type="submit" class="msger-mic-btn mic-off"><i id="mic-icon" class="bi bi-mic-mute-fill"></i></button>
        </footer>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg fixed-top" id="navbar">
    <div class="container">
      <a href="index.html" class="brand navbar-brand"><i class="bi bi-chat-dots-fill"></i>Chatbot SART</a> 
      <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="offcanvas" 
      data-bs-target="#offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width: 300px;">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav-menu navbar-nav ms-lg-auto ms-0">
            <li class="nav-item" ><a href="#home" class="nav-link scrollto active"><span>Home</span></a></li>
            <li class="nav-item" ><a href="#about" class="nav-link scrollto"><span>About</span></a></li>
            <li class="nav-item" ><a href="#contact" class="nav-link scrollto"><span>Contact</span></a></li>
            <li class="nav-item" ><button class="trial-btn">Free Trial</button></li>
          </ul>
        </div>
      </div> 
    </div>  
  </nav>

  <main id="main">
    
    <section id="home">
      <!--<a href="https://storyset.com/online">Online illustrations by Storyset</a>-->
      <div class="container">
        
        <div class="description">
          <h1>Stock Management Chatbot</h1>
          <p>A smart solution for managing your stock efficiently and effectively.</p>
          <p>Experience the power of our Stock Management Chatbot today.</p>
          <div class="get-started">
            <button class="get-started-btn">Get Started Now!</button>
          </div>
        </div>

        <div class="preview">
          <img src="/static/img/chatbot.svg" alt="chatbot" height="500px">
        </div>
      </div>
      
    </section>

    <section id="about">
      <div class="container">
        <div class="description">
          <h2>About SART Chatbot</h2>
          <p>SART Chatbot is an intelligent stock management solution designed to streamline your inventory processes. Our chatbot leverages the power of natural language processing and artificial intelligence to provide a seamless and user-friendly experience.</p>
          <p>With SART Chatbot, you can easily monitor stock levels, track inventory, and automate various stock management tasks. Whether you're a small business or a large enterprise, our chatbot offers the flexibility and efficiency you need to optimize your stock management operations.</p>
        </div>
        <div class="features">
          <h2>Key features of SART Chatbot</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="feature-item">
                <i class="bi bi-info-circle"></i>
                <h3>Real-time Stock Information</h3>
                <p>Get instant updates on stock levels, availability, and locations.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-item">
                <i class="bi bi-command"></i>
                <h3>Automated Processes</h3>
                <p>Automate stock management tasks such as restocking, ordering, and inventory tracking.</p>
              </div> 
            </div>
            <div class="col-md-4">
              <div class="feature-item">
                <i class="bi bi-chat-left-text"></i>
                <h3>Interactive Chat Interface</h3>
                <p>Engage in natural language conversations to easily interact with the chatbot.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main --> 

  <footer>
    <div class="bg-dark">
        <h6 class="text-bg-dark p-3 m-0 text-center"><i class="bx bx-copyright"> copyright 2023</i></h6>
    </div>
  </footer>

  <!-- Vendor JS Files -->
  <script src="./static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="./static/vendor/aos/aos.js"></script>
  <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./static/vendor/typed.js/typed.min.js"></script>
  <script src="./static/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="./static/js/asr.js"></script>
  <script src="./static/js/app.js"></script>

</body>

</html>